.txtNome,
.txtEmail {
  width: 300px;
  height: 30px;
  font-size: 14px;
  border: 2px solid #3671bf;
  border-radius: 4px;
  margin-top: 5px;
  padding: 5px;
}

.txtMensagem {
  margin-top: 5px;
  width: 500px;
  min-height: 120px;
  font-size: 14px;
  border: 2px solid #3671bf;
  border-radius: 4px;
  margin-top: 10px;
  padding: 5px;

  /* I have OCD so I must disable the resize property */
  resize: none;
}

.btnEnviar {
  height: 30px;
  width: 100px;
  background-color: #3671bf;
  color: #fff;
  border: 2px solid #3671bf;
  border-radius: 4px;
  margin-top: 5px;
}

.btnReset {
  height: 30px;
  width: 100px;
  background-color: #be3422;
  color: #fff;
  border: 2px solid #be3422;
  border-radius: 4px;
  margin-top: 5px;
}
