/* This is the css for the second solution */
body {
  width: 998px;
  margin: 0 auto;
}

.title {
  border: 3px solid cadetblue;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
}

.content {
  position: absolute;
}

.box {
  width: 283px;
  height: 1940px;
  border: 3px solid cadetblue;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 15px;
  float: left;
}

.first {
  margin-left: 0;
}
